html {
  color: #222222;
  font: 16px/1.4 sans-serif;

  // Optimize font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

a {
  background-color: rgba(#c82621, 0.1);
  color: rgba(#c82621, 0.5);
  text-decoration: none;
  padding: 0 0.2em;
}

.header {
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
  padding: 1rem 0;
}

.header > button {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  padding: 0;
  outline: 0;
}

.main {
  line-height: 1.8;
  text-align: center;
  margin: 0 auto;
  max-width: 620px;
  padding: 1rem;
}

@import 'snackbar/src/snackbar';

